<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESC1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESC1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ESC1.Properties.Settings>
            <setting name="basla" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="bitir" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="pwm_suan" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="bitir2" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="aa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aaaa" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="aaaaaa" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="q" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="qq" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="aaaaa" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="w" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ww" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="www" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="e" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ee" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="eee" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="r" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="rr" serializeAs="String">
                <value>DeepPink</value>
            </setting>
            <setting name="rrr" serializeAs="String">
                <value>PaleVioletRed</value>
            </setting>
            <setting name="rrrr" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="t" serializeAs="String">
                <value>GhostWhite</value>
            </setting>
            <setting name="tt" serializeAs="String">
                <value>ActiveBorder</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yyy" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="u" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="uu" serializeAs="String">
                <value>5, 5</value>
            </setting>
            <setting name="ı" serializeAs="String">
                <value>65</value>
            </setting>
        </ESC1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ESC1.Properties.Settings>
            <setting name="aaa" serializeAs="String">
                <value>135</value>
            </setting>
        </ESC1.Properties.Settings>
    </applicationSettings>
</configuration>